@font-face {
  font-family: "Cursed Timer ULiL";
  font-style: normal;
  font-weight: 400;
  src:
    local("Cursed Timer ULiL"),
    url("https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff")
      format("woff");
}

body {
  margin: 0;
  background: #1b244a;
  height: 100vh;
  width: 100vw;
}

h3,
h1 {
  text-align: center;
}

h1 {
  font-family: "Cursed Timer ULiL";
  font-size: 90px;
  color: #f94f6d;
  margin: 0;
  padding: 10px 20px;
  background: black;
  font-weight: 400;
  margin-bottom: 26px;
}

h3 {
  color: #eeeeee;
  font-family: Verdana;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.scores {
  display: flex;
  justify-content: space-between;
}

.gameoptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.score-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
  font-size: 18px;
  background: none;
  border: 2px #9aabd8 solid;
  border-radius: 5px;
  font-family: "Cursed Timer ULiL";
  color: #9aabd8;
}

.awayteam {
  margin-left: 100px;
}

.hometeam,
.awayteam {
  width: 155px;
}

#endgame,
#newgame {
  width: 150px;
}

.hidden {
  display: none;
}

#end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

/* .fade-out {
  animation: fadeOut ease 10s;
  -webkit-animation: fadeOut ease 10s;
  -moz-animation: fadeOut ease 10s;
  -o-animation: fadeOut ease 10s;
  -ms-animation: fadeOut ease 10s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
